#------------------------------------------------------------------

# ex : LOKI_VERSION=2.6.0
# ex : PROMTAIL_VERSION=2.6.0
# ex : STORAGECLASS_NAME=csi-cephfs-sc

# ex : REGISTRY=192.168.6.171:5000

#------------------------------------------------------------------

LOKI_VERSION={LOKI_VERSION}
PROMTAIL_VERSION={PROMTAIL_VERSION}
STORAGECLASS_NAME={STORAGECLASS_NAME}

REGISTRY={REGISTRY}
